# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_PROTOTYPE_MK1_PLEFT
    def_bool $(shields_list_contains,prototype_mk1_periph_left)

config SHIELD_PROTOTYPE_MK1_PRIGHT
    def_bool $(shields_list_contains,prototype_mk1_periph_right)

config SHIELD_PROTOTYPE_MK1_DONGLE
    def_bool $(shields_list_contains,prototype_mk1_dongle)

config SHIELD_PROTOTYPE_MK1_WAVESHARE
    def_bool $(shields_list_contains,prototype_mk1_waveshare)

config SHIELD_PROTOTYPE_MK1_CLEFT
    def_bool $(shields_list_contains,prototype_mk1_central_left)